body{
    background: #f4f4f4;
    padding: 0 .28rem 1.6rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* 对话框内容 */
.dialog_content{
    
}
.dialog_content_time{
    text-align: center;
    line-height: 1rem;
    color: #919191;
}
/* 对方消息 */
.dialog_content_opposite{
    margin-top: .5rem;
    width: 100%;
    height: auto;
}
.dialog_content_opposite_imgwrap{
    float: left;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
}
.dialog_content_opposite_img,.dialog_content_oneself_img{
    display: block;
    width: 100%;
    height: 100%;
}
.dialog_content_opposite_info{
    max-width: 5rem;
    word-wrap: break-word;
    float: left;
    margin-left: .2rem;
}
.dialog_content_opposite_name{
    font-size: .26rem;
    color: #8a8a8a;
}
.dialog_content_opposite_text{
    position: relative;
    margin-top: .1rem;
    line-height: .5rem;
    font-size: .36rem;
    padding: .14rem .22rem;
    background: #fff;
    border-radius: .1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dialog_content_opposite_text:after{
    content:'';
    display: block;
    position:absolute;
    left:-0.1rem;;
    top:.1rem;
    width:.1rem;
    border-width:0;
    border-style:solid;
    border-color:transparent;
    border-top-width:.1rem;
    border-top-color:currentColor;
    border-radius:0 0 0 1rem;
    color:#fff;
}
/* 本人消息 */
.dialog_content_oneself{
    margin-top:.5rem; 
    width: 100%;
    height: auto;
}
.dialog_content_oneself_imgwrap{
    float: right;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
}
.dialog_content_oneself_info{
    max-width: 5rem;
    word-wrap: break-word;
    float: right;
    margin-right: .2rem;
}
.dialog_content_oneself_name{
    font-size: .28rem;
    text-align: right;
    color: #8a8a8a;
}
.dialog_content_oneself_text{
    position: relative;
    margin-top: .1rem;
    line-height: .5rem;
    font-size: .36rem;
    color: #fff;
    padding: .14rem .22rem;
    background: #59bbf3;
    border-radius: .1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dialog_content_oneself_text:after{
    content:'';
    display: block;
    position:absolute;
    right:-0.1rem;;
    top:.1rem;
    width:.1rem;
    border-width:0;
    border-style:solid;
    border-color:transparent;
    border-top-width:.1rem;
    border-top-color:currentColor;
    border-radius:0 0 1rem 0;
    color:#59bbf3;
}
/* 转账 */
.dialog_content_oneself_transfer,.dialog_content_opposite_transfer{
    position: relative;
    margin-top: .1rem;
    width: 4rem;
    height: 1.6rem;
    line-height: .5rem;
    font-size: .3rem;
    color: #fff;
    overflow: hidden;
    border-radius: .1rem;
    background: #128ae6;
}
/* 已收款 */
.gathering{
    background: #7CB8E6;
}
.oneself_transfer_info,.opposite_transfer_info{
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-pack: flex-start;
    /* 12版 */
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
}
.oneself_transfer_imgwrap,.opposite_transfer_imgwrap{
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
}
.oneself_transfer_img,.opposite_transfer_img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: .6rem;
    height: .6rem;
}
.oneself_transfer_price,.opposite_transfer_price{
    margin-left: .2rem;
    padding: .1rem 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.oneself_transfer_text,.opposite_transfer_text{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: .2rem;
    color: #151515;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* 转账弹框-s */
.dialog_transfer_wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 30;
}
/* 头部返回菜单 */
.dialog_transfer_back{
    position: relative;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: .88rem;
	font-size: .3rem;
	line-height: .88rem;
	text-align: center;
	color: #fff;
	letter-spacing: .02rem;
	/*从左到右的渐变色：*/
	background:-webkit-linear-gradient(left,#00dafd,#00a7ff);
	background:-o-linear-gradient(right,#00dafd,#00a7ff);
	background:-moz-linear-gradient(right,#00dafd,#00a7ff);
	background: linear-gradient(to right,#00dafd,#00a7ff);
}
.dialog_transfer_back_title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: .2rem;
    margin: auto;
}
.dialog_transfer_back_img{
    width: .2rem;
    height: .4rem;
    vertical-align: text-bottom;
}
/* 被转账用户 */
.dialog_transfer_user{
    height: 3rem;
    background: #eee;
    line-height: 1rem;
    text-align: center;
}
.dialog_transfer_user_img{
    margin-top: .4rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .2rem;
    border-radius: 50%;
    vertical-align: bottom;
}
/* 转账金额 */
.dialog_transfer_num{
    margin:.2rem;
    line-height: 1rem;
    border-bottom: .02rem solid #151515; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dialog_transfer_num_title{
    font-size: .3rem;
}
.dialog_transfer_num_label{
    font-size: .48rem;
    font-weight: bold;
}
.dialog_transfer_num_input{
    height: 1rem;
    width: 90%;
    font-size: .48rem;
    font-weight: bold;
    border: 0;
    outline: none;
}
/* 确认转账 */
.dialog_transfer_affirm{
    margin: 1rem auto 0;
    width: 80%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    background: #00a7ff;
    border-radius: .1rem;
}
/* 转账弹框-e */

/* 底部菜单 */
/* 输入框 */
.dialog_menu{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #eff2f4;
    padding: 0 .28rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dialog_menu_inputwrap{
    margin-top: .1rem;
    line-height: .4rem;    
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.dialog_menu_label{
    position: relative;
    float: left;
    display: block;
    width:78%;
    max-height: 3rem;
    border-radius: .2rem;
    overflow: hidden;
}
.dialog_menu_voice{
    position: relative;
    float: left;
    display: inline-block;
    width: 6.5%;
    height: .45rem;
    margin-right: .1rem;
    background: #fff;
    border-radius: 50%;
}
.dialog_menu_img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: .26rem;
    height: .3rem;
}
.dialog_menu_input{
    display: block;
    width: 100%;
    max-height: 3rem;
    border: 0;
    outline: none;
    font-size: .3rem;
    padding: .029rem .1rem;
    overflow-y:scroll;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
}
.dialog_menu_send{
    float: left;
    display: block;
    margin-left: .1rem;
    width: 12%;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
    border-radius: .2rem;
    color: #fff;
    background: #c3f4ff;
}
/* 功能菜单 */
.dialog_menu_submenu{
    height: .8rem;;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-pack: space-between;
    /* 12版 */
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.dialog_menu_submenu_item{
    position: relative;
    display: block;
    width: 10%;
    height: 100%;
}
.dialog_menu_submenu_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: .4rem;
    height: .4rem;
}
/* 摄像机input */
.camera,.picture{
    opacity: 0;
    width: 100%;
    height: 100%;
    border: none;
}