/* 群头像 */
.group_portrait{
    width: 100%;
    height: 4.3rem;
}
.group_portrait_img{
    width: 100%;
    height: 100%;
}
/* 群成员 */
.group_member{
    width: 100%;
    height: 4.6rem;
}
.group_member_info{
    width: 100%;
    height: 4.2rem;
    padding: 0 .28rem;
    background: #fff;
    flex-wrap: wrap;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-pack: space-between;
    /* 12版 */
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.group_member_info_item{
    width: 1.1rem;
    height: 1.1rem;
    margin:.1rem .1rem 0; 
    border: .02rem solid #ccc;
}
.group_member_info_img{
    width: 100%;
    height: 100%;
}
.group_member_more{
    text-align: center;
}
/* 群设置 */
.group_set_list{
    width: 100%;
    margin-bottom: .15rem;
    padding: 0 .28rem;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.group_set_list .group_set_list_item:last-child{
    border: 0;
}
.group_set_list_item{
    position: relative;
    height: .88rem;
    line-height: .88rem;
    border-bottom:.02rem solid #ccc; 
}
.group_set_list_img{
    position: absolute;
    right: .0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: .18rem;
    height: .3rem;
}
.group_set_list_image{
    position: absolute;
    right: .0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: .8rem;
    height: .4rem;
}
/* 退出群聊 */
.group_quit{
    margin-bottom: .2rem;
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    color: #f80606;
    background: #fff;
}