/* 搜索 */
* { touch-action: pan-x; } 
body{
	
  background:white;
  overflow: hidden;
	
}
.lb_headWrap_return{
	
	width: 1rem;.chat_message
	margin-left: .15rem;
	
	
	
}
.lb_headWrap_return img{
	
	width: .7rem;
	height: .7rem;
	border-radius:50% ;
	
	
}
.lb_headWrap_return_img{
	
	width: .3rem;
	height: .3rem;
	
}
.search{
    width: 90%;
    margin: auto;
    /*height: .88rem;*/    
   
}
.search form{
    width: 100%;
    height: .5rem;
    padding: 0 .2rem;
    box-sizing: border-box;
    position: relative;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */  
    align-items: center;
    /*border: 1px solid green;*/
    
   
    
    
}
.search .search-input{
	
	position: absolute;
	top: 0;
	left: 0;
    -prefix-box-flex: 1; 
	-webkit-box-flex: 1; 
	-webkit-flex: 1; 
	-moz-box-flex: 1; 
	-ms-flex: 1; 
	flex: 1;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    color: #A8A8A8;
    border-radius: .2rem;
    border: none;
    outline: none;
    padding: 0 .1rem;
    box-sizing: border-box;
    background: #F2F2F2;
   
}

.search .search-tip{
    background:url(../../img/public/search-icon-index@2x.png) 0 center no-repeat;
    background-size: .22rem;
    color: #c2c2c2;
    padding-left: .3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	/*border: 1px solid green;*/
    
    
    
}
.chat_box .chat:last-child{
	
	margin-bottom: 1rem;
	
	
}
.chat{
	position: relative;
	/*border: 1px solid green;*/
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	padding: .15rem 0;
	
	
}
.chat_img{
	
	display: inline-block;
	
}
.chat_img img{
	
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin-top: .1rem;
	margin-right: .3rem;
	margin-left: .3rem;
	
}
.chat_text{
	
	display: inline-block;
	width: 4rem;
	/*border: 1px solid green;*/
	
	
	
}
.chat_name{
	
	font-size: .3rem;
	
	
	
}
.chat_context{
	
	width: 4rem;
	color: #767676;
	margin-top: .05rem;
	overflow: hidden;/*内容超出后隐藏*/
	text-overflow: ellipsis;/* 超出内容显示为省略号*/
    white-space: nowrap;/*文本不进行换行*/
    font-size: .25rem;
	
	
}

.chat_time{
	position: absolute;
	right:.3rem;
	top: 16%;
	display: inline-block;
	text-align: right;	
	z-index: 1;	
	color: #767676;

}

.chat_message{
	
	
	position: absolute;
	right: 0rem;
	z-index: 1;
	min-width: .3rem;
	height: .3rem;
	line-height: .3rem;
	background: red;
	border-radius: .16rem;
	text-align: center;
	color: white;
	margin-top: .07rem;
	padding: 0 .1rem;
	
	
	
	
}
.gray{
	
	background:#A7A7A7;
	
	
}

  .mui-content{
  	 background: white;
  	
  }
   .mui-input-group{
   	
   	
   	 position: absolute;
   	 left: 0;
   	 top: 0;
   	 bottom: 0;
   	 right: 0;
   	
   	
   	
   }
   .mui-input-group .mui-input-row:after{
   	
   	background: white;
   	
   }
  
   .zhongjian{
   	
    border: 2px solid red;
    position: relative;
    bottom: 0;
    overflow-y: scroll!important;
   
   	
   	
   }
   .chat1{
   	
   	padding: 0px 0px;
   	
   }
   .chat3{
   	
   	 border-bottom: 1px solid #F5F5F5;
   	
   	
   }
   
.person_message{
	
	width: 100%;
	height:3rem;
	background: url("../../img/news/background1@2x.png");
	background-size:100%;
}
.person_message_my{
	
	position: relative;
	font-size: .3rem;
	color: white;
	
	
	
}
.person_message_my span{
	
	
	position: absolute;
	left: .2rem;
	top: .2rem;
	font-size: .35rem;
	
	
}


.close{
	
	width: .5rem;
	z-index: 1;
	position: absolute;
	right: .2rem;
	top: .2rem;
	float: right;
	z-index: 1;
	/*border: 1px solid green;*/
	padding: .1rem;
	
}
.person_message_img{
	
	position: relative;
	top: .5rem;
	color: white;

}
.touxiang{
	
	position: absolute;
	left: .5rem;
	top: 1rem;
	width: 1.2rem;
	
	
}
.nickname{
	
	position: absolute;
	left: 1.9rem;
	top: 1.2rem;
	font-size: .28rem;
	
}
.my_number{
	
	position: absolute;
	left: 1.9rem;
	top: 1.6rem;
	font-size: .3rem;
	
	
}
.my_qrcodeyf{
	
	position: absolute;
	right: .2rem;
	top: .6rem;
	width: .4rem;
	
	
}
.list_ear{
	
	position: relative;
	top: 1.7rem;
	font-size: .26rem;
	
}
.first_ear{
	
	
	position: relative;
	border-bottom: .3rem solid #F5F5F5;
	height: 1.2rem;
	line-height: .9rem;
    margin-top: 1rem;
	
	
}
.first_ear span{
	
	margin-left: 1rem;
	
}
.img_left{
  
  position: absolute;	
  width: .45rem;
  top: 0;
  left: .2rem;
  bottom: 0;
  margin: auto 0;
  
	
}
.img_right{
	
	position: absolute;	
	top: 0;
    right: .2rem;
    bottom: 0;
    margin: auto 0;
	float: right;
	width: .2rem;
	
}
.second_ear{
	
	
	position: relative;
	height: 1.2rem;
	line-height: .9rem;
	/*border: 1px solid green;*/
	border-bottom: .3rem solid #F5F5F5;
	
   
	
	
}
.second_ear span{
	
	margin-left: 1rem;
	
}
.three_ear{
	
	position: relative;
	height: .9rem;
	line-height: .9rem;
	
  
}
.three_ear_son{
	
	position: relative;
	/*border: 1px solid green;*/
	
	
}
.three_ear .three_ear_son:last-child{
	
	border-bottom: .3rem solid #F5F5F5;
	
}
.three_ear_son span{
	
	margin-left: 1rem;
	
}
.four_ear{
	
	position: relative;
	top: 2.2rem;
	height: .9rem;
	line-height: .9rem;
	
	
}
.four_ear_son{
	
	position: relative;
	
}
.four_ear_son span{
	
	margin-left: 1rem;
	
}
.mask{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgb(0,0,0,.4);
	z-index: 26;
	display: none;
	
	
}
.mask_son{
	/*display: none;*/
	position: relative;
	width: auto;
}

/*向上-三角形*/
.triangle_border_up {
	position: absolute;
	top: .9rem;
	right: .35rem;
	z-index: -1;
    width: 0;
    height: 0;
    border-width: 0 .18rem .18rem;
    border-style:solid;
    border-color:transparent transparent #fff;/*透明 透明  灰*/
}
.jiasaosao {
	float: right;
	display: table;
	margin: 1.05rem .1rem 0 0;
	padding: 0 .4rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: auto;
	/*height: 2.4rem;*/
	border-radius: .06rem;
	/*border: 1px solid green;*/
	background-color: white;

	
}
.qunliao_item {
	display:block;
	width: 100%;
	height: .6rem;
	letter-spacing: .02rem;
	/*border-bottom: 1px solid green;*/
}
.qunliao_item_icon_box {
	float: left;
	position: relative;
	width: .4rem;
	height: 100%;
}
.qunliao_item_icon {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
	max-width: 100%;
	height: auto;
}
.qunliao_item_text {
	float: left;
	display: block;
	width: auto;
	height: 100%;
	font-size: .24rem;
	line-height: .65rem;
	text-indent: .2rem;
}
.qunliao_item_icon2{
	
	height: .3rem;
	width: .45rem;
	
	
}
.qunliao_item_icon3{
	
	height: .3rem;
	width: .45rem;
	
}



  
   	
   	
 
   
