/* 搜索 */
body{
	
  background:white;
	
}
.lb_headWrap_return{
	
	width: 1rem;
	margin-left: .15rem;
	
	
	
}
.lb_headWrap_return img{
	
	width: .7rem;
	height: .7rem;
	border-radius:50% ;
	
	
}
.lb_headWrap_return_img{
	
	width: .3rem;
	height: .3rem;
	
}
.search{
    width: 100%;
    height: .88rem;    
   
}
.search form{
    width: 100%;
    height: 100%;
    padding: 0 .2rem;
    box-sizing: border-box;
    position: relative;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */  
    align-items: center;
   
    
    
}
.search .search-input{
    -prefix-box-flex: 1; 
	-webkit-box-flex: 1; 
	-webkit-flex: 1; 
	-moz-box-flex: 1; 
	-ms-flex: 1; 
	flex: 1;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    color: #A8A8A8;
    border-radius: .2rem;
    border: none;
    outline: none;
    padding: 0 .1rem;
    box-sizing: border-box;
    background: #F2F2F2;
}

.search .search-tip{
    background:url(../../img/public/search-icon-index@2x.png) 0 center no-repeat;
    background-size: .22rem;
    color: #c2c2c2;
    padding-left: .3rem;
    position: absolute;
    left: 50%;
    top: .03rem;
    transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
	-webkit-transform: translate(-50%,0%);
	-o-transform: translate(-50%,0%);
    
    
    
}
.chat_box .chat:last-child{
	
	margin-bottom: 1rem;
	
	
}
.chat{
	position: relative;
	/*border: 1px solid green;*/
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	padding: .15rem 0;
	
	
}
.chat_img{
	
	display: inline-block;
	
}
.chat_img img{
	
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin-top: .1rem;
	margin-right: .3rem;
	margin-left: .3rem;
	
}
.chat_text{
	
	display: inline-block;
	width: 4rem;
	/*border: 1px solid green;*/
	
	
	
}
.chat_name{
	
	font-size: .3rem;
	
	
	
}
.chat_context{
	
	width: 4rem;
	color: #767676;
	margin-top: .05rem;
	overflow: hidden;/*内容超出后隐藏*/
	text-overflow: ellipsis;/* 超出内容显示为省略号*/
    white-space: nowrap;/*文本不进行换行*/
	
	
}

.chat_time{
	position: absolute;
	right:.3rem;
	top: 26%;
	display: inline-block;
	text-align: right;	
	z-index: 1;	
	color: #767676;

}

.chat_message{
	
	
	position: absolute;
	right: 0rem;
	z-index: 1;
	min-width: .3rem;
	height: .3rem;
	line-height: .3rem;
	background: red;
	border-radius: 50%;
	text-align: center;
	color: white;
	margin-top: .07rem;
	padding: .02rem;
	
	
	
}
.gray{
	
	background:#A7A7A7;
	
	
}

  .mui-content{
  	 background: white;
  	
  }
   .mui-input-group{
   	
   	
   	 position: absolute;
   	 left: 0;
   	 top: 0;
   	 bottom: 0;
   	 right: 0;
   	
   	
   	
   }
   .mui-input-group .mui-input-row:after{
   	
   	background: white;
   	
   }
  
   .zhongjian{
   	
    border: 2px solid red;
    position: relative;
    bottom: 0;
    overflow-y: scroll!important;
   
   	
   	
   }	
   	
   	
 
   
