body{
    background: #fff;
    padding: 0 .28rem 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* 通讯录搜索-s */
.address_search{
    position: relative;
    height:.5rem;
    margin: .1rem auto;
    border-radius: .25rem;
    overflow: hidden;
}
.address_search_text{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    color:#a5a5a5;
    letter-spacing: .1rem;
    line-height: .5rem;
    text-align: center;
}
.address_search_img{
    width: .26rem;
    height: .26rem;
    margin-right: .1rem;
    vertical-align: text-top;
}
.address_search_input{
    width: 100%;
    height:100%;
    text-indent:.2rem;
    border: 0;
    outline: none;
    background: #f2f2f2;
}
/* 通讯录搜索-e */

/* 通讯录菜单-s */
.address_menu{
    height:1.4rem;
    margin:.2rem auto;
    background: #fff;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-pack: space-around;
    /* 12版 */
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
}
.address_menu_item{
    width:1rem;
    height:1.4rem;
    white-space : nowrap;
}
.address_menu_img{
    width: 100%;
}
/* 通讯录菜单-e */
/* 置顶标题 */
.address_title{
    display: none;
    position: fixed;
    top: .88rem;
    left: 0;
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    z-index: 10;
    padding: 0 .72rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
}
/* 通讯录联系人-s */
.address_linkman{
    margin-bottom: 1.2rem;
    position: relative;
}
.address_linkman_title{
    height: .4rem;
    padding-left: .44rem;
    background: #fff;
}
.address_linkman_item{
    height: 1rem;
    line-height: 1rem;
    margin: .1rem auto .2rem;
}
.address_linkman_img{
    width: 1rem;
    height: 1rem;
    margin-right: .2rem;
    vertical-align: top;
}
.address_linkman_list{
    display: none;
    position: fixed;
    top: 1.4rem;
    right: .1rem;
}
.address_linkman_list .list{
    height: 80vh;
}
.address_linkman_list .item{
    width:.4rem;
    height:3.7%;
    color:#686868;  
    text-align: center;
    /* 设置或检索是否允许用户选中文本 */
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.address_linkman_index{
    display: none;
    position: fixed;
    top: 3.5rem;
    right:2rem;
    width: .6rem;
    height: .6rem;
    font-size: .36rem;
    line-height: .6rem;
    text-align: center;
    color: #fff;
    background: #00a8ff;
    /* 设置或检索是否允许用户选中文本 */
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
/* 通讯录联系人-e */