/*
 登录
 * */
body {
	width: 100%;
    height: 100vh;
	background-image: linear-gradient(-30deg, 
		#2a65b1 0%, 
		#82ccbe 100%), 
	linear-gradient(
		#00ff00, 
		#00ff00);
}
.wrapper {
	width: 100%;
	height: 100%;
}
.head {
	letter-spacing: 2px;
	color: #fff;
	font-size: .3rem;
	text-align: center;
	line-height: .88rem;
}

.photo_img {
	margin: 1rem auto 1.7rem;
	width: 1rem;
	height: 1rem;
	background: #fff;
}
.photo_img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.mobile {
	padding: .24rem .15rem;
	margin: 0 .75rem .2rem .75rem;
	background: #fff;
	border-radius: 44px;
}
.mobile div {
	display: inline-block;
	vertical-align: middle;
}
.mark {
	width: 18%;
	font-size: .3rem;
	letter-spacing: 1px;
	color: #151515;
	text-align: center;
	line-height: .45rem;
	border-right: 1px solid #dadada;
}
.inp {
	margin-left: .15rem;
}
.text {
	width: 4rem;
	height: .45rem;
	border: none;
	outline: none;
	color: #151515;
	font-size: .3rem;
	vertical-align: top;
}
input::-webkit-input-placeholder {
    font-size: .3rem;
	color: #8f8f8f;
}

.last_btn {
	margin: .2rem auto;
	width: 6rem;
	height: .88rem;
	background-color: #00ccff;
	border-radius: 44px;
	letter-spacing: 2px;
	color: #fff;
	font-size: .3rem;
	text-align: center;
	line-height: .88rem;
}
.skip_wrap {
	padding: 0 1.16rem;
	line-height: .65rem;
}
.skip_wrap a {
	display: inline-block;
	letter-spacing: 1px;
	color: #fff;
	font-size: .24rem;
}
.signin {
	float: right;
}
