/*
 找回密码
 * */
.shortcut {
	padding: .6rem .35rem 0;
}
.mobile {
	margin-bottom: .3rem;
	padding: .1rem .24rem;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #a7a7a7;
}
.mobile div {
	display: inline-block;
	vertical-align: middle;
}

.mark {
	margin-right: .1rem;
	width: 20%;
	font-size: .3rem;
	color: #151515;
	border-right: 1px solid #dadada;
}
.text {
	width: 3.8rem;
	height: .65rem;
	border: none;
	outline: none;
	font-size: .24rem;
	color: #151515;
}
input::-webkit-input-placeholder {
    font-size: .24rem;
    letter-spacing: 1px;
	color: #9d9d9d;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.code_wrap {
	display: inline-block;
	padding: .1rem .24rem;
	width: 4rem;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #a7a7a7;
}
.auth {
	margin-right: .1rem;
	width: 31%;
	font-size: .3rem;
	color: #151515;
	border-right: 1px solid #dadada;
}
.code_wrap div {
	display: inline-block;
	vertical-align: middle;
}
.ber {
	width: 2.5rem;
	height: .65rem;
	border: none;
	outline: none;
	font-size: .24rem;
	color: #151515;
}
.btn_wrap {
	margin-left: .2rem;
	display: inline-block;
	vertical-align: middle;
	width: 1.95rem;
	height: .88rem;
	background-color: #00ccff;
	border-radius: 44px;
	text-align: center;
	line-height: .88rem;
	
}
.gain {
	color: #fff;
	font-size: .24rem;
}

.next_btn {
	margin: .6rem auto 0;
	width: 5.98rem;
	height: .88rem;
	background-color: #00ccff;
	border-radius: 44px;
	color: #fff;
	font-size: .3rem;
	text-align: center;
	line-height: .88rem;
	letter-spacing: 2px;
}

.status_wrap {
	display: none;
	padding: .6rem .35rem 0;
}
.has {
	font-size: .3rem;
	color: #151515;
	line-height: .85rem;
}
