/*
 提现
 * */
.lb_headWrap {
	background: #fff;
}
.lb_headWrap span {
	letter-spacing: 1px;
	color: #0b0b0b;
}

.basic_wrap {
	margin: .3rem 0;
	background: #fff;
}
.data {
	padding: 0 .28rem;
	line-height: .9rem;
}
.way {
	font-size: .28rem;
	letter-spacing: 1px;
	color: #000006;
}
.data div {
	display: inline-block;
	vertical-align: top;
}
.run {
	margin-top: .31rem;
	float: right;
	width: .16rem;
	height: .3rem;
	background: url(../../../img/news/arrow@2x.png) no-repeat;
	background-size: 100% 100%;
}

.item_wrap {
	padding: 0 0 .2rem 0;
	margin: .4rem .24rem;
	background-color: #fff;
	border-radius: 4px;
}
.cash {
	padding: .3rem 0 .3rem .3rem;
	font-size: .36rem;
	letter-spacing: 1px;
	color: #000006;
	line-height: .85rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.sum_wrap {
	margin: 0 .35rem 0 .3rem;
	border-bottom: 1px solid #f3f3f3;
}
.sum_box {
	padding: 0 0 .2rem;
}
.sum_wrap div {
	display: inline-block;
	vertical-align: top;
}
.dl {
	margin-right: .15rem;
	width: .34rem;
	height: .43rem;
	background: url(../../../img/news/dl.png) no-repeat;
	background-size: 100% 100%;
}
.inp {
	margin-top: .05rem;
	width: 5.5rem;
	background: #fff;
	color: #000006;
	font-size: .3rem;
	border: none;
	outline: none;
	
}
input::-webkit-input-placeholder {
    font-size: .3rem;
	color: #9696a9;
}

.ance {
	padding-left: .3rem;
	line-height: .75rem;
}
.ance .beg {
	font-size: .22rem;
	color: #414262;
}

.all_btn a {
	margin: .65rem auto .25rem;
	width: 4rem;
	height: .76rem;
	font-size: .3rem;
	background-color: #2eda9f;
	border-radius: 8px;
	text-align: center;
	line-height: .76rem;
	letter-spacing: 1px;
	color: #fff
}

.time {
	font-size: .26rem;
	color: #b9b9c6;
	text-align: center;
	line-height: .55rem;
}
