@charset "utf-8";
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea,img{
    margin:0;
    padding:0;
}
body{
	font-size: 0.24rem;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	background: #f5f5f5;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
/*最大边框*/
.wrap_frame {
	position: relative;
	padding-top: .88rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height:100%;
	overflow: hidden;
	
}
/*去除input默认样式*/
input[type=button], input[type=submit], input[type=file], button { 
	cursor: pointer; 
	-webkit-appearance: none; 
	background: none;
	border: none;
	outline: none;
}

/*清除浮动代码 '父元素'*/
.clearfloat:after{
	display: block;
	clear: both;
	content:" ";
	visibility: hidden;
	height: 0;
}
.clearfloat{
	zoom: 1;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
/*public 省略号*/
.publicEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*弹性布局 wrap*/
.flexWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
/*弹性布局 box*/
.flexBox {
	-prefix-box-flex: 1; 
	-webkit-box-flex: 1; 
	-webkit-flex: 1; 
	-moz-box-flex: 1; 
	-ms-flex: 1; 
	flex: 1; 
}
